@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    background-color: rgb(242, 242, 242, 0.4);
    overflow-x: hidden;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
}
/* 
body .offcanvas-menu:before {
    opacity: 1;
    z-index: 1002;
    visibility: visible;
} */

ul {
    list-style: none;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

a,
a:hover {
    text-decoration: none !important;
}


/*===== All Preloader Style =====*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #fff;
    z-index: 99999;
}

#preloader #preloader-inner {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    animation: spin 2s linear infinite
}

#preloader #preloader-inner:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    animation: spin 3s linear infinite
}

#preloader #preloader-inner:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    animation: spin 1.5s linear infinite
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}


/* === End ::: preloader === */


/* ==== Scroll bar====*/


/* width */

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #0AB1CE;
    border-radius: 5px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #0AB1CE;
}


/* ==== Scroll bar ends==== */


/* === Start ::: navbar ===*/

.site-navbar {
    /* background-color: #7f7ff0 !important; */
    margin-bottom: 0px;
    z-index: 1999;
    position: relative;
    width: 100%;
    padding: 0.6rem;
}


/* @media (max-width: 991.98px) {
    .site-navbar {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
} */

header img {
    width: 75px;
    height: 75px;
} 
header input{
    color: black;
    border:#000;
}

.header_Should_be_on_top {
    z-index: 100;
}


/* scroll indicator */

.container_top_progress_bar {
    position: relative
}

.top_progress_container {
    display: none;
    width: 100%;
    height: 4px;
    background: #ccc;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.top_progress_bar {
    height: 4px;
    background: #0AB1CE;
    width: 0%;
}

@media screen and (max-width:400px) {
    header img {
        width: 60px;
        height: 60px;
    }
}

.site-navbar .toggle-button {
    position: absolute;
    right: 25px;
    top: 25px;
}


/* .site-navbar .site-logo {
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 3;
}
@media (max-width: 991.98px) {
    .site-navbar .site-logo {
        float: left;
        position: relative;
    }
} */

.site-navbar .site-navigation .border-bottom {
    border-bottom: 1px solid white !important;
}



.sticky-wrapper .shrink {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.profile {
   border-radius :20px;
   
}
.profile:hover{
    background:lightgray;
}
.c-home {
    background: white !important;
    margin-left: 8%;
    margin-right: 8%;
}

/* .clearfix::before .clearfix::after {
    content: "";
    display: table; */
/* }

.clearfix::after{
    clear:both;
} */
.DesignSystem {
    overflow-x: hidden;  
    color: #333;  
    font-family: "Arial", sans-serif;
}

.DesignSystem .new-lohp-container>.landing-hero .row {
    margin-left: 0%;
    margin-right: 0%;
}
.DesignSystem .new-lohp-container>.landing-hero {
    position: relative;
}
.DesignSystem .new-lohp-container>.landing-hero> .landing-hero-image {
    position:absolute;
    z-index:-1;
    margin-top: 0%;
}
.DesignSystem .new-lohp-container{
    width:50%;
    
}
.DesignSystem img {
    vertical-align: middle;
    border: 0;
    width: 100%;
    height: 100%;
}

.first {
    display: flex;
}
.first img {
    width: 800px;
    height: 500px;
}
.first div {
    width:100%;
    height:100%;
}
.first p {
    font-size :18px;
}
.first h2 {
    font-weight:10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    color: #007bff;
}

@media (max-width: 991.98px) {
    .sticky-wrapper .shrink {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }
    .searchbar{
        display: none !important;
    }

    .first {
        display: flex;
        flex-direction: column-reverse;
        
    }
    .first img{
        width: 500px;
        height: auto;
    }
    .first p{
       font-size: 1.1em;
    }
    .first .new-lohp-container {
        padding-top:10px;
        order: 1;
        justify-content: center;
    }
}
.searchbar button{
    background-color: #0AB1CE !important;
}


@media (min-width:768px) and (max-width:991px){
    /* .DesignSystem .new-lohp-container>.landing-hero> .landing-hero-image {
       
    } */
    
}


/*
@media (min-width:991px) and (max-width:1140px){
    .searchbar{
        display: none !important;
    } 
}
*/
@media (max-width: 991.98px) {
    .searchbar{
        display: none !important;
    }
}
.site-formSearch-wrap{
    display: inline-block;
    margin-top: 16px;
}

.navBoot {
    margin-bottom: 10%;
    
}
.navNotUser {
    margin-bottom:10%;
    
}
.navNotUser .containerNav {
    margin-left: 20%;
    margin-right: 5%;
}
.navNotUser .navRegis {
    margin-right: 30%;
}
.navNotUser .navNotAcc {
    margin-left: 30%;
    
}
.navBoot .containerNav {
    margin-left: 6%;
    margin-right: 6%;
}
.navBoot .searchbar {
    margin-right:7%;
}
.navBoot .navAcc {
    margin-left:5%;
}
.navBoot .linkText{
    color: gray;
    font-size: 20px;
}
.navNoot .inputSearch:focus {
    border-color: rgb(57, 69, 174);
    border: solid 1px;
    
    
}
.searchbar input:focus{
    background-color: rgba(208, 212, 215, 0.819) !important;
}



@media screen and (max-width:1100px) {
    .navBoot {
        margin-bottom:18%;
    }
   
}
@media screen and (max-width:992px) {
    
    .navNotUser {
        margin-bottom:20%;
    }
    .navNotUser .containerNav {
        margin-left: 10%;
        
    }
    
}

@media screen and (max-width:1250px)  {
   
    .navBoot .linkText{
        font-size:18px;
    }
}
@media screen and (min-width:990px)  {
   
    .navBoot .linkText{
        font-size:18px;
    }
    /* img{
        width: 75px;
    } */
}

.offcanvas{
    display: flex;
    flex-direction: row;
}



/* === End ::: navbar ===*/
/* Start :: nav */
nav[data-toggle=toc] {
    margin-top: 30px;
}

/* small screens */
@media (max-width: 768px) {
    /* override the Affix plugin so that the navigation isn't sticky */
    nav.affix[data-toggle='toc'] {
        position: static;
    }

    /* don't expand nested items, which pushes down the rest of the page when navigating */
    nav[data-toggle=toc] .nav .active .nav {
            display: none;
        }

    .DesignSystem .new-lohp-header {
        margin-top:35px;
        margin-left: 0%;
        margin-right: 0%;
    }
}

.affix {
    border: 1px solid #eee;
    max-height: 90%;
    overflow-y: scroll;
}

nav[data-toggle=toc] .nav>li>a {
    font-size: 16px;
    padding: 10px;
    border-bottom: 1px solid #eee;
}
nav[data-toggle=toc] .nav .nav>li>a {
    font-size: 14px;
    padding: 8px;
}

/* End :: nav */

.verif {
    /* margin:15%  25% 8% 25%; */
    width: 20%;
    margin:auto;
    margin-bottom: 8%;
    margin-top:15%;
}
