
/* Form.css */

.form .card {
    min-width: 600px;
}
.form .card form {
    margin-top: 2rem;
}
.form .card .field {
    margin-bottom: 1.5rem;
}
label span {
    font-size : 13px;
    font-family:arial;
}

.profileUser {
    box-shadow: 1px solid green;
    margin-top: 2%;
    padding:5%;
    margin-left:25%;
    margin-right: 25%;
}
.profileUser img {
    width:25%;
}
.FirstLast {
    width:100%;
    display: flex;
    justify-content:space-between;
}
 .champ{
    width:95%;
    margin-right: 30%;
}
@media screen and (max-width: 960px) {
    .form .card {
        width: 80%;
    }
    .profileUser {
        margin-left:20%;
        margin-right:20%;
    }
    .profileUser img {
        width:30%;
    }
    
}
@media screen and (max-width: 720px) {
    
    .FirstLast {
        display: inline;
    }
    .FirstLast label{
        width: 80px;
    }
}
@media screen and (max-width: 640px) {
    .form .card {
        width: 100%;
        min-width: 0;
    }
    .profileUser {
        margin:0%;
        padding: 0%;
    }
    .FirstLast {
        display: inline;
    }
}

.account {
    margin-left:25%;
    margin-right:25%;
    padding: 3%;
    font-family: Arial;
}
.account h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    font-size: 17px;
}
.accountUserDiv {
    border-bottom: 1px solid #ccc;
    padding-bottom: 25px;
}
.avertis {
    height: auto;
    margin-top: 25px;
    background: rgb(248, 195, 195);
    border-radius: 5px;
    justify-content:center;
    align-items: center;
}
.avertis p{
    padding: 12px;
}
.raison {
    width: 95%;
}