
/* Form.css */

.form .card {
    min-width: 600px;
}
.form .card form {
    margin-top: 2rem;
}
.form .card .field {
    margin-bottom: 1.5rem;
}
label span {
    font-size : 13px;
    font-family:arial;
}
.profileUser {
   
    margin-top: 2%;
    margin-left:13%;
    margin-right:13%;
}
.FirstLast {
    width:100%;
    display: flex;
    justify-content:space-between;
}
.FirstLast .champ{
    width:100%;
}
@media screen and (max-width: 960px) {
    .form .card {
        width: 80%;
    }
    .profileUser {
        margin-left:3%;
        margin-right:3%;
    }
    .FirstLast .champ{
        width:85%;
    }
    
}
@media screen and (max-width: 720px) {
    
    .FirstLast {
        display: inline;
    }
    .FirstLast label{
        width: 80px;
    }
}
@media screen and (max-width: 640px) {
    .form .card {
        width: 100%;
        min-width: 0;
    }
    .profileUser {
        margin:0%;
        padding: 0%;
    }
    .FirstLast {
        display: inline;
    }
}